* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  display: grid;
  place-items: center;
  background: url(../images/samurai.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.formar {
  display:grid;
  place-items: center;
  width: 25vw;
  height: 85vh;
  background: linear-gradient(135deg,#00d4ff 25%, #8b00ff 75%);
  color: #0a0a0a;
  opacity:0.8;  
  margin: 40px;
  border: 5px groove #1F51FF;
  border-radius:10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
}

select{
  width: 50%;
  border-radius: 10px;
  background-color: #1F51FF;
  color: white;
  font-weight: bold;
}

input {
  width: 40%;
  height: 30px;
  background-color: #1F51FF;
  color: white;
  border-radius: 10px;
}

input::placeholder {
  color: white;
  font-weight: bold;
}

input:active {
  outline: none;
}

.enviar {
  width: 20%;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #1F51FF;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.enviar:hover {
  background-color: #0a0a0a;
  color: #1F51FF;
  box-shadow: 4px 4px 15px rgba(31, 81, 255, 0.9);
}

.data-de-nascimento {
  display: flex;
  gap: 10px;
}

.genero {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) and (min-width: 320px) {
  html {
    height: 100%;
  }

  body{
    background: url(../images/samurai-mobile.png);
    background-position: center;
    background-size: cover;


  }

  .formar {
    position: relative;
    top: 150px;
    left: 0;
    transform: translate(0%, 0%);
    height: auto;
    width: auto;
  }
}